.button {
  cursor: pointer;
  max-width: 164px;
  border-radius: 4px;
  border: 2px solid #ff0066;
  font-weight: 600;
  font-size: 24px;
  padding: 4px 12px;
  transition: all 0.5s;
  transition-property: background-color, border-color, color;

  &:hover {
    border-color: black;
  }

  &.button--light:hover {
    border-color: white;
  }

  &--primary {
    background-color: #ff0066;
    &:hover {
      background-color: black;
      color: #ff0066;
    }

    &.button--light:hover {
      background-color: white;
      color: black;
    }
  }

  &--secondary {
    background-color: transparent;
    color: #ff0066;
    &:hover {
      color: black;
    }

    &.button--light:hover {
      color: white;
    }
  }
}