.component-card {
  //border: 2px solid black;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;

  &:hover {
    .component-card__title {
      color: #ff0066
    }
  }

  &__container {
    position: relative;
    width: 100%;
    border: 2px solid black;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &-preview{
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 250ms;
    }
  }

  &__title {
    height: 100%;
    font-size: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    transition: color 250ms;
    padding: 8%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__info {
    font-size: 16px;
  }
}