.layout {
  display: grid;
  height: 100vh;
  grid-template-areas: "head head"
                       "nav  main";
  grid-template-rows: 2.5rem 1fr;
  grid-template-columns: auto 1fr;
}

.header {
  grid-area: head;
  background: #da004e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;

  & > a {
    display: flex;
  }

  &__logo{
    height: 1.5rem;
  }
}

.sidebar {
  grid-area: nav;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    padding: 16px;
  }

  &__icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    svg {
      margin: 10px;
      fill: white !important;
      height: 40px !important;
      width: 40px !important;
    }
  }
  
  &--open {
    .sidebar__icon {
      justify-content: flex-end;
    }
  }
}

.main {
  grid-area: main;
  background-color: #525a69;
  //font-size: calc(10px + 2vmin);
  overflow-y: auto;
  padding: 1.5rem;

  &::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    //border-radius: 10px;
    box-shadow: inset 0 0 1px 2px #525a69;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ff0066;
    //border-radius: 10px;
    border: 3px solid transparent;
    //border-radius: 9px;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-button {
    //display: block;
    
    background-color: black;
    background-position: center;
    border: 2px solid black;

    &:decrement {
      background-image: url('./../../assets/arrow_up.svg');
      &:hover {
        background-image: url('./../../assets/arrow_up-red.svg');
      }
    }

    &:increment {
      background-image: url('./../../assets/arrow_down.svg');
      &:hover {
        background-image: url('./../../assets/arrow_down-red.svg');
      }
    }
  }
}