.tree-view {

  .tree-item__label-text {
    transition: opacity 1s;
  }

  &--preload * {
    animation-duration: 0s !important;
  }
}

.tree-view--closed .tree-item__label-text{
  display: none;
  opacity: 0;
}