.tree-item {
  &__label {
    display: flex;
    height: 48px;
    align-items: center;
    gap: 8px;

    &-link {
      cursor: pointer;
    }

    &-icon {
      position: relative;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        z-index: 10;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        transition: background-color 1s;
      }
    }

    &-text {
      font-size: 24px;
      margin: 0;
      padding-right: 18px;
      white-space: nowrap;

      &.open {
        font-weight: 500;
      }
    }

    &-link {
      text-decoration: none;
      &.active > span {
        font-weight: 500;
        color: #ff0066 !important
      }
    }
  }

  &__children {
    display: flex;
    position: relative;
    padding-left: 48px;

    &-tree {
      position: absolute;
      width: 48px;
      top: 0;
      bottom: 0;
      left: 0;
    }

    // &--hidden {
    //   opacity: 0;
    //   animation: close 1s;
    //   max-width: 0;
    // }
    // &--open {
    //   animation: open 1s;
    // }
  }

  .graph {
    height: 100%;
    width: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &--bottom {
      height: 50%;
      bottom: 0;
    }
  
    &--top {
      height: 50%;
      top: 0;    
    }
  }

  .diagonal-graph {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;

    line { 
      transition: stroke-dashoffset 1s;
    }
  }

  .children-container {
    opacity: 0;
    max-width: 0;
    max-height: 0;
    pointer-events: none;

    &.expand-enter-active {
      pointer-events: auto;
      transition: max-height 2s cubic-bezier(.79,.91,1,.52), max-width 2s cubic-bezier(.83,.42,1,.7), opacity 0.5s linear 1s;
      opacity: 1;
      max-width: 100vw;
      max-height: 100vh;
    }

    &.expand-enter-done {
      pointer-events: auto;
      max-width: unset;
      max-height: unset;
      opacity: 1;
    }

    &.expand-exit {
      max-width: 100vw;
      max-height: 100vh;
      opacity: 1;
    }

    &.expand-exit-active {
      transition: max-height 1.5s cubic-bezier(0,1.04,.31,.57), max-width 2s cubic-bezier(0,1.22,.65,.71), opacity 0.5s linear;
      opacity: 0;
      max-width: 0;
      max-height: 0;
    }

    &.expand-exit-done {
      max-width: 0;
      max-height: 0;
      opacity: 0;
      pointer-events: none;
    }
  }


  // .MuiCollapse-hidden {
  //   max-width: 0;
  // }

  @keyframes open {
    0%   {max-width: 0vw; opacity: 0;}
    50%  {max-width: 10vw;}
    60%  {max-width: 15vw;}
    75%  {max-width: 50vw; opacity: 0;}
    100% {max-width: 50vw; opacity: 1;}
  }

  @keyframes close {
    0%   {max-width: 50vw; opacity: 1;}
    25%  {max-width: 50vw; opacity: 0;}
    40%  {max-width: 15vw;}
    50%  {max-width: 10vw;}
    100% {max-width: 0vw;}
  }
}