.carousel {
  height: 600px;
  width: 600px;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__circle {
    r: 290;
    stroke: black;
    stroke-width: 20px;
    fill: transparent;
    transition: opacity 0.5s;
    &--hidden {
      opacity: 0;
    }
    &.animate {
      animation: spin 1s;
    }
  }
}

.carousel-item {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 15px solid black;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  transition-delay: 0.5s;
  transition-property: height, width, border-width, transform, background-color;
  &--active {
    border-width: 10px;
    background-color: rgb(255, 0, 102);
    height: 200px;
    width: 200px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

