.component-animation {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration: 1s;
    transition-delay: 0;
    transition-property: opacity, left;

    &.slide-enter {
      opacity: 0;

      &.slide-forward {
        left: 0
      }
      &.slide-backward {
        left: 100%;
      }

      &.slide-enter-active {
        opacity: 1;
        left: 50%;
      }
    }

    &.slide-exit-active {
      opacity: 0;
      &.slide-forward {
        left: 100%
      }
      &.slide-backward {
        left: 0;
      }
    }
  }
}

.button-container {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid black;

  &--dark {
    background-color: black;
  }
}

.progress-circle-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-circle__container {
  margin-bottom: 1.5rem;
}

.color-example {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  & > span {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.home {
  min-height: 100%;

  &__logo {
    width: 100%;
    min-height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .home-logo {
      width: 50%;
      position: relative;
      > h2 {
        font-size: 2vw;
        position: absolute;
        right: 5%;
        bottom: 1%;
      }
    }
  }

  &__components {
    display: flex;
    justify-content: center;
    .components-grid {
      max-width: 40%;
      min-width: min-content;
      margin: 0 auto;
      display: grid;
      gap: 1vw;
      grid-template-columns: repeat(2, minmax(150px, 250px));
      grid-auto-rows: 1fr;
    }
  }
}
