.colorpicker {

  position: relative;
  display: inline-flex;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__border {
    stroke-width: 2px;
    fill: none;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    transition: stroke-dashoffset 1s;
  }

  &__container {
    border: none;
    display: flex;
    padding: 8px 16px; 
    align-items: center;
    cursor: pointer;
    background: none;
    border-radius: 4px;

    &:hover {
      .colorpicker__border {
        stroke-dashoffset: 0;
      }
    }
  }

  &__input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }

  &__color {
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }

  &__label {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 8px;
  }
}