@import './components/Layout/layout.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 2vmin);
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.preload {
  & * {
    transition: none !important;
  }
  transition: none !important;
}


.Muifader-root {
  width: 30rem !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.not-found {
  display: flex;
  flex-direction: column;;
  align-items: center;
  & > h1 {
    color: #ff0066;
    font-size: 5rem;
  }
  & > p {
    color: white;
  }
}

.app-routes-animation {
  position: relative;
  min-height: 100%;
  display: flex;
  //flex-direction: column;
  // height: 1px;
  &__content{
    transition: opacity 0.5s;
    min-height: 100%;
    flex: 1;
    // height: 1px;

    &.fade-enter {
      opacity: 0;
      position: absolute;

      &.fade-enter-active {
        opacity: 1;
      }
    }

    &.fade-exit {
      position: absolute;
    }

    &.fade-exit-active {
      opacity: 0;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
