.action-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__items {
    position: absolute;
    bottom: 100%;
  }

  &__button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: black;
    color: white;

    &:hover {
      .am-btn-icon-line {
        box-shadow: 0 0 2px 0.5px crimson;
      }
    }
  }
}

.am-btn-icon {
  position: relative;
  height: 14px;
  width: 20px;

  &-line {
    background-color: crimson;
    height: 2px;
    width: 20px;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0);
    transform-origin: 50%, 50%;
    left: 50%;
    transition-property: transform, opacity, top, width, box-shadow;
    transition-duration: 0.5s;

    &--top {
      top: 0;
    }
    &--center {
      top: 50%;
    }
    &--bottom {
      top: 100%;
    }
  }

  &--close {
    .am-btn-icon-line {
      width: 24px;
      &--top {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &--center {
        opacity: 0;
      }
      &--bottom {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.am-btn-ripple {
  position: absolute;
  z-index: -1;

  circle {
    stroke: black;
    stroke-width: 2;
    fill: transparent;
  }

  &.active circle{
    animation: 1s ripple;
  }


}

@keyframes ripple {
  0% {
    r: 30;
    opacity: 0.8;
  }
  50% { opacity: 1 }
  100% {
    r: 70;
    opacity: 0.1;
  }
}

.am-child {
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #2d2d2d;
  color: crimson;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 1s;
  transition-property: transform, opacity;
  &.visible {
    opacity: 1;   
  }
}


// .am-item {
//   position: relative;

//   &__label {
//     //top: 4px;
//     position: absolute;
//     display: flex;
//     align-items: center;
//     font-size: 24px;
//     font-weight: 700;
//     height: 56px;
//     min-width: 56px;
//     border-radius: 28px;
//     padding: 0 20px;
//     background-color: white;
//     border: 4px solid black;

//     &--right {
//       left: 4px;
//     }

//     &--left {
//       right: 4px;
//     }
//   }
// }

// .am-item-border {
//   width: 64px;
//   height: 64px;
//   display: flex;
//   fill: transparent;
//   margin-bottom: -4px;

//   circle {
//     stroke: black;
//     stroke-dasharray: 94.2478;
//     stroke-dashoffset: 94.2478;

//   }

//   &--right {
//     transform: rotate(90deg);
//     margin-left: -0.5px;
//   }

//   &--left {
//     transform: rotate(-90deg);
//     margin-right: -0.5px;
//   }
// }
