.slider {

    &__root {
        padding: 16px 0;
    }

    &__container {
        position: relative;
        height: 4px;
        width: 100%;
        background-color: black;
    }

    &__rail {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
    }

    &__thumb {
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        height: 16px;
        width: 16px;
        background-color: deeppink;
        border-radius: 50%;
    }
}