.loader {
  svg {
    position: relative;
    z-index: 10;
  }
  &__container {
    position: relative;
    display: flex;
  }
  &__bg {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &--mask {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      background: #282c34;
    }
  }
  &__circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    // transition: stroke-dashoffset 0.3s;
  }
  &__info {
    font-weight: bold;
  }
  &__colorpicker {
    &--container {
      display: flex;
    }
    input {
      font-weight: bold;
    }
  }
}